<!-- Form para refrescar la tabla para subir los datos -->
<div class="well">
	<div ng-if="filterType == 'single'" class="form-group">
		<label>Propiedad</label> 
		<select ng-model="filterData.propertyId"  ng-change="reloadData()">
			<option ng-repeat="property in properties" value="{{property._id}}">{{property.name}} </option>
		</select>
	</div>
	<div ng-if="filterType != 'single'" class="form-group well">
		<label>Propiedades</label>
		<br/>
		<div>
			<input ng-model="query" id="search" class="form-control" placeholder="Búsqueda por texto">
		</div>
		<br/>
		<span ng-repeat="property in properties | filter:query | startFrom:currentPage*pageSize | limitTo:pageSize" >
			<input type="checkbox" ng-model="filterData.propertiesSelected[property._id]"  ng-change="reloadData()">
			{{property.name}}
			<br/>
		</span>
		<br/>
		<div>
			<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
				Anterior
			</button>
			{{currentPage+1}}/{{numberOfPages()}}
			<button ng-disabled="currentPage >= getData().length/(pageSize - 1)" ng-click="currentPage=currentPage+1">
				Siguiente
			</button>
		</div>
	</div>
	<div ng-if="filterType != 'single'" class="well">
		<label>Propiedades eleccionadas</label>
		<br/>
		<div ng-if="selected" ng-repeat="(propertyId, selected) in filterData.propertiesSelected">
			{{propertiesInfo[propertyId].name}}
			<br/>
		</div>
	</div>
	<div class="form-group well">
		<label>Canales</label>
		<br/>
		<span ng-repeat="channel in channels" >
			<input type="checkbox" ng-model="filterData.channelsSelected[channel._id]"  ng-change="reloadData()" >
			<!--ng-init="data.channelsSelected[channel._id]=true"-->
			{{channel.name}}
		</span>
		<br/>
	</div>
	<div class="form-group well">
		<div>
			<label>Desde: </label>
			<select ng-model="filterData.fromYear" ng-change="reloadData()">
				<option ng-repeat="year in years" value="{{year}}">{{year}}</option>
			</select>
		</div>

		<div>
			<label>Hasta: </label> 
			<select ng-model="filterData.toYear" ng-change="reloadData()">
				<option ng-repeat="year in years" value="{{year}}">{{year}}</option>
			</select>
		</div>
	</div>
</div>
</div>