.nav {
	font-size: 20px;
}
.main-view{
	font-size: 17px;
}
.btn-actions{
	height: 25px;
	width: 100px;
	padding: 0;
}
.container{
	min-width: 100% !important;
	max-width: 100% !important;
	width: 100% !important;
	padding-left: 5%;
	padding-right: 5%;
}

.chart{
	width: 70% !important;
	height: 50% !important;
	margin: 5%;
}
.half{
	width: 45% !important;
	float: left;
}
.oneThird{
	width: 30% !important;
	float: left;
	display: inline-block;
}
.full {
	width: 100% !important;
	display: block;
	float: right;
}
.centerContent{
	padding-top: 50%;
}
.home{
	background: url(../images/cityBackground.png) no-repeat center center fixed; 
}
.spaces{
	margin: 10px;
}
.borders{
    border: 3px solid #dedede;
    border-radius:5px;
    padding: 10px;
}

.center{
  width: 50%;
  margin: 0 auto;
}

.parentCenter {
  text-align: center;
  padding-left: 30%;
}
.childCenter {
  display: inline-block;
}
.forms {
	min-width: 50% !important;
}
.form_labels {
	min-width: 50% !important;
}
.min_width{
	min-width: 500px !important;
}