

<div>

	<properties-filter-by-month class="oneThird" section-type="{{sectionType}}"></properties-filter-by-month>

	<div ng-if="!config || !config.data || config.data.length==0" class="well twoThirds">
		<div class="full text-center">
			<h2>No hay datos para el criterio establecido.</h2>
		</div>
	</div>
	<div class="text-center spaces" ng-if="config && config.data && config.data.length>0">
		<canvas id="bar" class="chart chart-bar borders rounded min_width"
		chart-data="config.data" chart-labels="labels" chart-series="config.series" 
		chart-options="config.options" chart-colors="config.options.colors" height="300" width="500"></canvas>
	</div>
</div>