<div>
	<properties-filter-by-month section-type="{{sectionType}}"></properties-filter-by-month>
	<div ng-if="!config || !config.data || config.data.length==0" class="table-responsive table-striped  full well">
		<div class="full text-center">
			<h2>No hay datos para el criterio establecido.</h2>
		</div>
	</div>
	<div class="full text-center">
		<div ng-if="config && config.data && config.data.length>0" >
			<canvas id="line" class="chart chart-line borders rounded"
			chart-data="config.data" chart-labels="config.labels" chart-series="config.series" 
			chart-options="config.options" height="300" width="500"  chart-colors="config.options.colors"></canvas> 
		</div>
	</div>
</div>