
<div class="full">
	<properties-filter-by-month class="oneThird min_width" section-type="{{sectionType}}"></properties-filter-by-month>

	<div ng-if="!config || !config.data || !config.data.length || config.data.length==0" class="well twoThirds min_width">
		<div class="full text-center">
			<h2>No hay datos para el criterio establecido.</h2>
		</div>
	</div>

	<div ng-if="config && config.data && config.data.length>0"  class="text-center borders block twoThirds">
		<h2>{{title}}</h2>
		<div ng-repeat="data in config.data" class="half rounded borders text-center spaces min_width half">
			<canvas id="pie" class="chart chart-pie  rounded"
			chart-data="data" chart-labels="config.labels[$index]" 
			chart-options="config.options[$index]" chart-colors="config.options[$index].colors"></canvas> 
			<h4>Total: {{formater.toNumberFormat(config.totals[$index])}}</h4>
		</div>
	</div>
</div>

<!--div ng-if="config && config.data && config.data.length>0" >
	<canvas id="pie" class="chart chart-pie borders rounded"
	chart-data="config.data" chart-labels="config.labels" 
	chart-options="config.options" chart-colors="config.options.colors" height="300" width="500"></canvas> 
</div-->